body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

nav {
    text-align: center;
    margin: 20px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    color: #f70a9c;
}

nav a:hover {
    color: #ff0000;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

button, input[type="submit"] {
    padding: 5px 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover, input[type="submit"]:hover {
    background-color: #00b345;
}

form {
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

form input, form select {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h2 {
    text-align: center;
    margin-top: 20px;
}